* {
  padding: 0;
  margin: 0;
}

.dropzone {
  color: white;
  background-color: black;
  height: 150%;
  border: 1px solid gray;
  margin: 20px 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.draggable {
  border: 1px solid grey;
  margin: 20px;
  padding: 10px;
  width: 50%;
  background: white;
  color: black;
  z-index: 2;
  cursor: move;
}

.dragging {
  z-index: 3;
}
